*{
    padding: 0;
    margin: 0;
    font-family: 'roboto', sans-serif;
   
}

.cabecalho{
    background: #7740ED;
    width: 360px;
    height: 61px;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.titulo{
    color: #F1F1F1;    
    padding: 20px;  
    font-size: 16px;
   
}

.pontoSino{
    align-items: flex-end;
    display: flex;
    flex-direction: column-reverse;
    padding: 18px;
   
}

.form{
    margin: 16px;
}

.label{
    display: block;
    color: #000000;
    font-family: sans-serif;
    margin-top: 24px;
    font-size: 12px;
}

.input{
    padding: 10px;
    margin-top: 08px;
    width: 328px;
    border: 1px #7740ED solid;
    border-radius: 10px;
    box-sizing: border-box; 
    font-size: 12px;  
    
}

.botaoAdicionar{
    background-color: #7740ED;
    padding: 10px;
    margin-top: 24px;
    width: 328px;   
    border-radius: 10px;
    box-sizing: border-box; 
    cursor: pointer;
    font-size: 14px;
}

.textoBotao{
    text-align: center;
    color: #F1F1F1;
}

.boxTarefas{
    background-color: #D9D9D9;
    padding: 10px;
    margin-top: 32px;
    width: 328px;   
    border-radius: 10px;
    box-sizing: border-box; 
    display: flex;
    align-items: flex-end;
    justify-content: space-between;    
}

.boxTarefasFazer{
    color: #000000;   
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
}

.espacoBox{
    margin-left: 12px;
   
}

.boxTarefas-01{
    background-color: #D9D9D9;
    padding: 10px;
    margin-top: 8px;
    width: 328px;   
    border-radius: 10px;
    box-sizing: border-box; 
    display: flex;
    align-items: flex-end;
    justify-content: space-between;    
}

.fazerExcluirTarefa{
    font-size: 12px;
    
}

.barraStatus{
    margin-top: 36px;
    display: flex;
    
}

.barraStatusFeito{
    background-color: #FFDB21;
    border-radius: 10px 0px 0px 10px;
    width: 189px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
    font-size: 12px;
    
}

.barraStatusFazendo{
    background-color: #D9D9D9;
    border-radius: 0px 10px 10px 0px;
    width: 139px;
    height: 32px;
}